.user_image{
    width: 100px;
    border-radius: 50%;
    background-color: black;
    margin-bottom: 8px;
}
.container{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 12px;
    margin-bottom: 22px;
}
.container_profile{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
}
.username{
    color:black;
    font-weight: 700;
    margin-bottom: 4px;
}
.username_tag{
    color: rgb(128, 128, 128);
    margin-bottom: 2px;
    
}
.username_location{
    color: rgb(128, 128, 128);
}
.list{
    display: flex;
    width: 100%;
}
.list_item{
    display: flex;
    flex-direction: column;
    text-align: center;
   color: black;
   flex: 1;
   overflow: hidden;
   border: 1px solid #949494;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #D3D3D3; 
   row-gap: 4px;  
}
.stats{
font-weight: 400;
}
.stats_count{
font-weight: 600;
}